<!-- header -->
<!-- <nav class="navbar is-black">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/newlogo.PNG" alt="BuyInBudget">
      </a>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          BuyInBudget Now!
        </a>
      </div>
    </div>
</nav> -->

<!-- body -->
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Admin Page - User Details Database</h1>
        </div>
    </div>
  </section>
<table class="table">
    <thead>
      <tr>
        <th><abbr title="regNo">Registration No</abbr></th>
        <th><abbr title="verify">Is Verified</abbr></th>
        <th><abbr title="EMICardNo">EMI Card No.</abbr></th>
        <th><abbr title="name">Name</abbr></th>
        <th><abbr title="dob">Date of Birth</abbr></th>
        <th><abbr title="email">Email id</abbr></th>
        <th><abbr title="phone">Phone No.</abbr></th>
        <th><abbr title="username">Username</abbr></th>
        <th><abbr title="password">Password</abbr></th>
        <th><abbr title="address">Address</abbr></th>
        <th><abbr title="cardType">Card Type</abbr></th>
        <th><abbr title="bank">Bank</abbr></th>
        <th><abbr title="account">Account No</abbr></th>
        <th><abbr title="ifsc">IFSC Code</abbr></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><abbr title="regNo">Registration No</abbr></th>
        <th><abbr title="verify">Is Verified</abbr></th>
        <th><abbr title="EMICardNo">EMI Card No.</abbr></th>
        <th><abbr title="name">Name</abbr></th>
        <th><abbr title="dob">Date of Birth</abbr></th>
        <th><abbr title="email">Email id</abbr></th>
        <th><abbr title="phone">Phone No.</abbr></th>
        <th><abbr title="username">Username</abbr></th>
        <th><abbr title="password">Password</abbr></th>
        <th><abbr title="address">Address</abbr></th>
        <th><abbr title="cardType">Card Type</abbr></th>
        <th><abbr title="bank">Bank</abbr></th>
        <th><abbr title="account">Account No</abbr></th>
        <th><abbr title="ifsc">IFSC Code</abbr></th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


<!-- footer -->
<footer class="footer">
    <div class="container content has-text-centered">
      <p>Made with 🖤 by B.L.N.P. from LTI </p>
    </div>
  </footer>