  <!-- body -->
  <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Forgot Password</h1>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
        <form>
            <div class="field">
                <label class="label">Phone No</label>
                <input type="tel" name="phone" class="input" autocomplete="off" required> 
            </div>

            <p class="control">
                <button class="button is-primary">
                  Get OTP
                </button>
            </p>
            <br>

            <div class="field">
                <label class="label">Enter OTP</label>
                <input type="number" name="otp" class="input" required autocomplete="off">
            </div>

            <p class="control">
                <button class="button is-primary">
                  Verify OTP
                </button>
            </p>
        </form>
    </div>
  </section>