 <!-- body -->
 <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Activate User's Account</h1>
        </div>
    </div>
  </section>

  <div class="box control" >
    <label class="label">Activate User</label>
    <label class="radio">
      <input type="radio" name="activateUser">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="activateUser" checked>
      No
    </label>
    <br><br><br>
    <p class="control">
        <button class="button is-primary">
          Register
      </button>
      </p>
</div>