  <!-- body -->
  <section class="hero is-primary is-bold is-fullheight">
      <div class="hero-body">
        <div class="box">
          <div class="">
            <img src="assets/img/appleMacBook.PNG" alt="2020 Apple MacBook Air Laptop" style="width:60%">
            <p style="color:black; font-weight: bold;">2020 Apple MacBook Air Laptop</p>
            <p style="color:red; font-weight: bold;">Price: ₹109490</p>
            <p>Apple's thinnest, lightest notebook, completely transformed by the Apple M1 chip.</p>
            <br>
            <button class="button is-primary">BUY NOW!</button>
            <br><br>
  
            <p>By registering up, you agree for Registration Charges and EMI Card</p>
            <p>Registration Charges: Gold - ₹101 | Titanium - ₹301 </p>
            <label class="checkbox">
              <input type="checkbox" checked>
              I agree to the <a href="">terms and conditions</a>
            </label>
            
          </div>
        </div>
      </div>
    </section>