  <!-- body -->
  <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Change Password</h1>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
        <form>
            <div class="field">
                <label class="label">New Password</label>
                <input type="password" name="password" class="input" autocomplete="off" required> 
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <input type="password" name="cpassword" class="input" autocomplete="off" required>
            </div>
            <br>
            <p class="control">
                <button class="button is-primary">
                  Save
                </button>
            </p>
        </form>
    </div>
  </section>


